{%extends "rugs/dashboard.html" %}



{% block links %}



    <style>
           
       
          
              
           
                .caveat{
                  font-family: "Caveat", cursive;
                  font-optical-sizing: auto;
                  font-weight: 900;
                  font-style: normal;
                  font-size:40px
                }
    </style>

{% endblock links %}
    


{% block pagetitle %}
    
    
      <h1 class="nova-mono-regular ">{{abouts.first.pagetitle}} </h1>
    
  
        
{% endblock pagetitle %}


{% block content %}

<div class="row mb-3 text-center">
    <div class="col-md-2 themed-grid-col"></div>
    <div class="col-md-8 themed-grid-col"><div class="containe-fuild mx-4 my-2 px-3 pb-5 caveat" >
        {{abouts.first.pagetext}}
    </div></div>
    <div class="col-md-2 themed-grid-col"></div>
  </div>



{% endblock content %}
    
    
    